{{ define "main" }}
    <div class = 'archive wrap mt'>
        <h1>{{ .Title }}</h1>
        <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
                {{ if ($value.Name) }}
                <div class = 'article_meta center_y'>
                    <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                        <h4 class = 'article_title'>{{ $value.Name }} <span>({{ $value.Count }})</span></h4>
                    </a>
                </div>
                {{ end }}
            {{ end }}
        </ul>
    </div>
{{ end }}